<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body {
        background-color: #eff7ff;
        padding: 1rem;
        display:flex;
        flex-flow: column nowrap;
        
    }

    h1 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .btn {
        background-color: #0079d3;
        border-color: #0079d3;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .btn:hover {
        background-color: #0062a2;
        border-color: #005b99;
    }
</style>

<h1>Locate our official retail shops!</h1>
<br>
{% for retailer in retailer_list %}
    {% if retailer.get_location_image() in image_list %}
        <div class="card" style="width: 50%;">
            <img class="card-img-top" src="{{ url_for('static', filename='images/profile_pic/'+retailer.get_location_image() )}}" alt="Card image cap" height="200px" width="50px">
            <div class="card-body">
            <h5 class="card-title">Outlet: {{ retailer.get_location() }}</h5>
            <p class="card-text">Shop unit number: {{ retailer.get_unit_number() }}</p>
            <p class="card-text">Shop address: {{ retailer.get_address()}}</p>
            <p class="card-text">Postal code: {{ retailer.get_postal_code() }}</p>
            <p class="card-text">Company email address: {{ retailer.get_email_address() }}</p>
            <p class="card-text">Office hotline: {{ retailer.get_office_no() }}</p>
            <a class="btn btn-primary" href="{{ retailer.get_map_url() }}" target="_blank">Go to location</a>
            </div>
        </div>
    {% else %}
    <div class="card" style="width: 50%;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/no_image.jpg' )}}" alt="Card image cap" height="200px" width="50px">
        <div class="card-body">
        <h5 class="card-title">Shop name: {{ retailer.get_location() }}</h5>
        <p class="card-text">Shop unit number: {{ retailer.get_unit_number() }}</p>
        <p class="card-text">Shop address: {{ retailer.get_address()}}</p>
        <p class="card-text">Postal code: {{ retailer.get_postal_code() }}</p>
        <p class="card-text">Company email address: {{ retailer.get_email_address() }}</p>
        <p class="card-text">Office hotline: {{ retailer.get_office_no() }}</p>
        <a class="btn btn-primary" href="{{ retailer.get_map_url() }}" target="_blank">Go to location</a>
        </div>
    </div>
    {% endif %}

    <br>
    
{% endfor %}
<a href="javascript:history.back()" class="btn btn-primary">Back</a>
