{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}
{% block title %}Retail information{% endblock %}

{% block content %}

<div class="container-fluid col-md-5 text-left neomorphic">
    <div class="col-md-6 ">
        <h1>Retailer Info</h1>
        <br>
        <p>
            <img src="{{ url_for('static', filename='images/profile_pic/'+current_retail.get_location_image() ) }}" alt="" height="200px" width="100%">
            <a class="btn btn-primary" href="{{ url_for('update_location_pic', id=current_retail.get_retailer_id()) }}"> Update Location picture</a>
        </p>
        <p>
            &nbsp; Retailer ID:
            <br>
            <strong>{{ current_retail.get_retailer_id() }}</strong> &nbsp;
        </p>
        <p>
            &nbsp; Email address:
             <br>
            <strong>{{ current_retail.get_email_address() }}</strong> &nbsp;
        </p>
        <p>
            &nbsp; Shop name:
            <br>
            <strong>{{ current_retail.get_location() }}</strong> &nbsp;
        </p>

        <p>
            &nbsp; Postal code:
             <br>
            <strong>{{ current_retail.get_postal_code() }}</strong> &nbsp;
        </p>
        <p>
            &nbsp; Unit number:
             <br>
            <strong>{{ current_retail.get_unit_number() }}</strong> &nbsp;
        </p>
        <p>
            &nbsp; Shop address:
             <br>
            <strong>{{ current_retail.get_address() }}</strong> &nbsp;
        </p>
        
        <p>
            &nbsp; Email address:
            <br>
           <strong>{{ current_retail.get_email_address() }}</strong> &nbsp;
        </p>
        <p>
            &nbsp; Office hotline:
             <br>
            <strong>{{ current_retail.get_office_no() }}</strong> &nbsp;
        </p>
        <p>
            &nbsp; Google Maps URL:
            <br>
            <strong>{{ current_retail.get_map_url() }}</strong> &nbsp;
        </p>
        <p>
            <a href="{{ current_retail.get_map_url() }}" target="_blank" class="btn btn-primary">Go to Location</a>
        </p>
    </div>
        <a class="btn btn-primary" href="{{ url_for('update_retailer', id=current_retail.get_retailer_id()) }}">Update</a>
        <a class="btn btn-secondary" href="{{ url_for('profile_page') }}">Back</a>
        <br>
        
</div>

{% endblock %}